<div style = "margin-left: 100px; margin-right:100px;" >    
<style>
  .maketextbigger{
    font-size: 200%;
  }
</style>
    <h1>Appointment</h1>
    
    <div class="row">
      <%= form_for @appointment, html: { class: 'form-horizontal' } do |f| %>
        <% if @appointment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      
            <ul>
            <% @appointment.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
         <div class="control-group">
          <div class="controls">
        <%= f.submit 'Make this my Appointment', class: 'btn btn-default', :class => "maketextbigger" %>
          </div>
        </div>
        <font size="6">
        <table>
            <tr><td><%= @appointment.id %></td></tr>
            <tr><td><%= @appointment.users_id %></td></tr>
            <tr><td><%= @appointment.date %></td></tr>
            <tr><td><%= @appointment.firstname %></td></tr>
            <tr><td><%= @appointment.lastname %></td></tr>
            <tr><td><%= @appointment.specialty %></td></tr>
            <tr><td><%= @appointment.status %></td></tr>
        </table>
        </font>
        <div style = "visibility: hidden;"> 
          <div class="control-group">
            <%= f.label :id, class: 'control-label' %><br>
            <div class="controls">
              <%=  f.hidden_field :id %>
            </div>
          </div>
          <%= @appointment.users_id = current_user.id   %>
          <div class="control-group">
            <%= f.label :users_id, class: 'control-label' %><br>
            <div class="controls">
              <%= f.hidden_field :users_id %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :date, class: 'control-label' %><br>
            <div class="controls">
              <%= f.hidden_field :date %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :firstname, class: 'control-label' %><br>
            <div class="controls">
              <%= f.collection_select :firstname, User.where(:role => "doctor"), :firstname, :firstname, prompt: 'Choose Doctor ' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :lastname, class: 'control-label' %><br>
            <div class="controls">
              <%= f.collection_select :lastname, User.where(:role => "doctor"), :lastname, :lastname, prompt: 'Choose Doctor ' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :specialty, class: 'control-label' %><br>
            <div class="controls">
              <%= f.collection_select :specialty, User.where(:role => "doctor"), :specialty, :specialty, prompt: 'Choose Doctor ' %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :status, class: 'control-label' %><br>
            <div class="controls">
              <%= f.select :status, %w(Pending) %>
            </div>
          </div>
        </div>  
       
      <% end %>
    </div>
</div>    